#game-tic-tac {
  width: 320px;
  padding: 1rem;

  .winner {
    text-align: center;
    padding: 1rem .5rem;
  }

  .score {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem .5rem;
  }

  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    tr+tr {
      border-top: 3px solid #d2d7e3;
    }

    td {
      text-align: center;
      vertical-align: middle;
      width: 95px;
      height: 95px;
    }

    td+td {
      border-left: 3px solid #d2d7e3;
    }
  }

  .cross {
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #3d5bd3;
    }

    &:before{
      transform: rotate(45deg);
    }

    &:after{
      transform: rotate(-45deg);
    }
  }

  .circle {
    display: inline-block;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 4px solid #cb3939;
  }

  @for $i from 0 through 3 {
    .move#{$i} {
      animation: fadeIn .6s, move#{$i} .6s;
    }
  }

  .buttons {
    text-align: center;
    padding: 1rem;
    height: 66px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }

  $positions: (
      '-15px, -30px',
      '15px, -30px',
      '-15px, 30px',
      '15px, 30px'
  );

  @for $i from 0 to length($positions) {
    @keyframes move#{$i} {
      from {
        transform: scale(1.2) translate(#{nth($positions, $i+1)});
      }
    }
  }
}
