#game-tic-tac {
  width: 320px;
  padding: 1rem;

  .score {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem .5rem;
  }

  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;

    tr+tr {
      border-top: 3px solid #d2d7e3;
    }

    td {
      text-align: center;
      vertical-align: middle;
      width: 95px;
      height: 95px;
    }

    td+td {
      border-left: 3px solid #d2d7e3;
    }
  }

  .cross {
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #3d5bd3;
    }

    &:before{
      transform: rotate(45deg);
    }

    &:after{
      transform: rotate(-45deg);
    }
  }

  .circle {
    display: inline-block;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 4px solid #cb3939;
  }

  .line-wrapper {
    position: relative;

    > div {
      position: absolute;
      z-index: 10;

      &:before {
        content: '';
        position: absolute;
        background: #d2d7e3;
        width: 0;
        height: 3px;
      }
    }

    .win:before {
      transition: width 500ms;
    }

    .line0 {
      top: 45px;

      &:before {
        width: 288px;
      }
    }

    .line-1 {
      top: 142px;

      &:before {
        width: 288px;
      }
    }

    .line-2 {
      top: 239px;

      &:before {
        width: 288px;
      }
    }

    .line-3 {
      left: 49px;
      transform: rotateZ(90deg);

      &:before {
        width: 288px;
      }
    }

    .line-4 {
      left: 147px;
      transform: rotateZ(90deg);

      &:before {
        width: 288px;
      }
    }

    .line-5 {
      left: 239px;
      transform: rotateZ(90deg);

      &:before {
        width: 288px;
      }
    }

    .line-6 {
      top: 0;
      transform: rotateZ(45deg);

      &:before {
        width: 400px;
      }
    }

    .line-7 {
      top: 285px;
      transform: rotateZ(-45deg);

      &:before {
        width: 400px;
      }
    }

  }

  @for $i from 0 through 3 {
    .move#{$i} {
      animation: fadeIn .6s, move#{$i} .6s;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }

  $positions: (
      '-15px, -30px',
      '15px, -30px',
      '-15px, 30px',
      '15px, 30px'
  );

  @for $i from 0 to length($positions) {
    @keyframes move#{$i} {
      from {
        transform: scale(1.2) translate(#{nth($positions, $i+1)});
      }
    }
  }
}
