#game-snake {
  width: min(60vh, 100vw);

  .score {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

    div {
      padding: .5rem 1rem;
    }
  }

  .field {
    display: grid;
    grid-gap: 1px;

    div {
      aspect-ratio: 1;
      border: 1px solid var(--color-bg-light);
      padding: 2px;
      transition: border-color 150ms, transform 250ms;

      &:before {
        content: '';
        display: block;
        height: 100%;
        background-color: var(--color-bg-light);
        transition: background-color 250ms;
      }
    }

    .apple {
      border-color: var(--color-secondary);

      &:before {
        background-color: var(--color-secondary);
      }
    }

    .snake {
      border-color: var(--color-primary);
      transform: translate(-1px, -1px);

      &:before {
        background-color: var(--color-primary);
      }
    }
  }

  .pad-bottom {
    height: 8rem;
  }

  .direction-buttons {
    position: fixed;
    bottom: -1rem;
    right: 0;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 75px;
    transform: rotate(45deg);

    > div {
      text-align: center;
      padding-top: 40%;
      background-color: rgba(0,0,0,.3);
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      transform: rotate(-45deg);
      clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    }
  }
}
