@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

a {
  color: white;
}

.games {
  display: flex;
  gap: 1rem;

  .card {
    text-decoration: none;
    padding: .25rem;
    background-color: #404854;
    border-radius: .25rem;

    &:hover {
      background-color: #4a5260;
    }
    .title {
      text-align: center;
      padding: .5rem;
    }
  }
}

.btn-back {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  background-color: #d2d7e3;
  color: #3d5bd3;
  border-radius: 50%;
  padding: 0 .3rem .35rem;
  line-height: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  cursor: pointer;
  padding: .5rem 1rem;
  text-transform: uppercase;
  background-color: #3d5bd3;
  color: #d2d7e3;
  border: none;
}

.floating-button {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 47%;
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
  padding: 1rem 0;
}
