@charset "UTF-8";

:root {
  --color-primary: #3d5bd3;
  --color-secondary: #cb3939;
  --color-bg: #282c34;
  --color-bg-light: #535a69;
  --color-bg-lighter: #70778a;
  --color-text: #d7dae5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.app {
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

a {
  color: var(--color-text);
}

.home {
  padding: 1rem;

  .footer {
    padding: .25rem;
    text-align: center;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  .card {
    text-decoration: none;
    padding: .25rem;
    background-color: var(--color-bg-light);
    border-radius: .25rem;

    &:hover {
      background-color: var(--color-bg-lighter);
    }
    .title {
      text-align: center;
      padding: .5rem;
    }
  }
}

.btn-back {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  background-color: var(--color-text);
  color: var(--color-primary);
  border-radius: 50%;
  padding: 0 .3rem .35rem;
  line-height: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  cursor: pointer;
  padding: .5rem 1rem;
  text-transform: uppercase;
  background-color: var(--color-primary);;
  color: var(--color-text);
  border: none;
}

.floating-button {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 60%;
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
  padding: 1rem 0;

  &.floating-enter {
    opacity: 0;
    top: 65%;
  }

  &.floating-enter-active {
    opacity: 1;
    top: 60%;
    transition: opacity 200ms, top 200ms;
    transition-delay: .5s;
  }

  &.floating-exit-active {
    opacity: 0;
    top: 65%;
    transition: opacity 300ms, top 300ms;
  }
}
